---
- name: Ensure indices exist
  ansible.builtin.uri:
    url: "http://localhost:{{ es_http_port }}/{{ item }}"
    method: PUT
    status_code: [200, 400]  # 400 when index already exists
    user: "{{ es_api_basic_auth_username }}"
    password: "{{ es_api_basic_auth_password }}"
    force_basic_auth: true
  loop: "{{ es_indices }}"
  no_log: true
