---
- name: Install snapshot repositories
  ansible.builtin.uri:
    url: "http://localhost:{{ es_http_port }}/_snapshot/{{ item | basename | replace('.json', '') | replace('.j2', '') }}"
    method: PUT
    status_code: 200
    user: "{{ es_api_basic_auth_username }}"
    password: "{{ es_api_basic_auth_password }}"
    force_basic_auth: true
    body_format: json
    body: "{{ lookup('template', item) }}"
  loop: "{{ lookup('fileglob', es_snapshot_repositories_fileglob, wantlist=True) }}"
  no_log: true
