---
- name: Ensure component index templates are installed
  ansible.builtin.uri:  # noqa no-handler
    body_format: json
    body: "{{ lookup('file', item) }}"
    force_basic_auth: true
    method: PUT
    password: "{{ es_api_basic_auth_password | d(omit) }}"
    status_code: 200
    url: "http://localhost:{{ es_http_port }}/_component_template/{{ item | basename | replace('.j2', '') | replace('.json', '') }}"
    user: "{{ es_api_basic_auth_username | d(omit) }}"
  loop: "{{ lookup('fileglob', es_component_templates_fileglob, wantlist=True) }}"
  no_log: true

- name: Ensure composable index templates are installed
  ansible.builtin.uri:  # noqa no-handler
    body_format: json
    body: "{{ lookup('file', item) }}"
    force_basic_auth: true
    method: PUT
    password: "{{ es_api_basic_auth_password | d(omit) }}"
    status_code: 200
    url: "http://localhost:{{ es_http_port }}/_index_template/{{ item | basename | replace('.j2', '') | replace('.json', '') }}"
    user: "{{ es_api_basic_auth_username | d(omit) }}"
  loop: "{{ lookup('fileglob', es_index_templates_fileglob, wantlist=True) }}"
  no_log: true
